//Переменные для шаблона
$dark--color: #35373F;
$orange-color: #F4A343;
$menu-color: #33353D;
$container-weight: 1440px;
$container-padding: 0 40px;
$hover-color: #F4A343;
$hover-transition: 0.5s;
$background-color: #F9F9F9;

//Адаптив в vw
$px: .06945;
$pxm: 0.130208;
$pxmf: 3.478;
$pxmd: 0.09765625;
$pxmt: 0.130208;
$pxm: 0.2666;