@import "normalize";

@font-face {
  font-family: 'Poppins-Light';
  src: url("../../src/fonts/Poppins-Light.ttf") format("truetype");
}

a{
  text-decoration: none;
}
*{
  box-sizing: border-box;
}
.locked{
  overflow: hidden;
}
.container{
  max-width: 1440px;
  padding: 0 100px;
  margin: auto;
}



@import "media";