@import "normalize";
@import "vars";
@import "fresco";
@import "leaflet";
@import "default";


.block-container {
  padding: 0 70px;
  margin: auto;
  @media all and (max-width: 940px) {
    padding: 0 50px;
  }
  @media all and (max-width: 768px) {
    padding: 0 20px;
  }
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  @media all and (max-width: 940px) {
    font-size: 45.5%;
  }
}

$color-transition: 0.5s;

a {
  text-decoration: none;
  color: #71A24E;
}

p, li {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 122%;
  @media all and (max-width: 940px) {
    font-size: 2rem;
    margin-bottom: 0.8em;
  }

  strong {
    font-weight: 600;
    @media all and (max-width: 940px) {
      font-size: 2rem;
    }
  }
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 120%;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.locked {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

.transition05 {
  transition: 0.5s;
}

.swiper-button-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.main {
  position: relative;

  .main__header {
    position: fixed;
    top: 53px;
    width: 100%;
    padding: 0 70px;
    z-index: 99;
    @media all and (max-width: 940px) {
      padding: 0 50px;
    }
    @media all and (max-width: 768px) {
      padding: 0;
      top: 0;
    }
  }

  &__mobile-logo {
    display: none;
    padding: 8px;

    .custom-logo-link {
      height: 100%;
      width: auto;

      img {
        height: 100%;
        width: auto;
      }
    }

    @media all and (max-width: 940px) {
      display: flex;
    }
  }

  &__nav {
    height: 65px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 30px 10px rgba(148, 133, 133, 0.5);
    background: #FFFFFF;

    .menu-osnovnoe-menyu-container {
      width: 100%;
      @media all and (max-width: 940px) {
        display: none;
        position: fixed;
        right: 0;
        top: 65px;
        height: calc(100vh - 65px);
        width: 100%;
        z-index: 99;
      }

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        @media all and (max-width: 940px) {
          flex-direction: column;
          background-color: #FFFFFF;
          padding-top: 20px;
          align-items: flex-start;
          li {
            width: 100%;
          }
        }

        li {
          height: 100%;
          transition: 0.5s;
          @media all and (max-width: 940px) {
            height: auto;
          }

          &.current_page_item {
            a {
              color: #8fbf4f;
            }
          }

          &:first-child {
            background-color: #3A6919;
            @media all and (max-width: 940px) {
              background-color: transparent;
              &:hover {
                background-color: transparent!important;

                a {
                  color: #8FBF4F!important;
                }
              }
              a {
                color: #000000!important;
              }
            }

            a {
              color: #FFFFFF;
              padding: 0 60px;
            }

            &:hover {
              background-color: #8FBF4F;

              a {
                color: #FFFFFF;
              }
            }
          }

          &:nth-child(2) {
            a {
              padding: 0 30px 0 60px;
            }
          }

          &:hover {
            a {
              color: #8FBF4F;
            }
          }

          a {
            font-size: 1.6rem;
            line-height: 1.5rem;
            padding: 0 30px;
            height: 100%;
            display: flex;
            align-items: center;
            color: #000000;
            transition: 0.5s;
            font-weight: 500;
            @media all and (max-width: 940px) {
              font-size: 4rem;
              line-height: 122%;
              padding: 10px 20px!important;
            }
          }
        }
      }
    }
  }

  &__burger-menu {
    width: 84px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0D740;
    padding: 0 26px;
    cursor: pointer;
    display: none;
    @media all and (max-width: 940px) {
      display: flex;
      width: 65px;
      padding: 0 15px;
    }

    &:hover {
      background-color: #F7A85B;
    }

    span {
      height: 2px;
      width: 100%;
      display: block;
      background-color: #FFFFFF;
      margin: 6px 0;
    }
  }
}

.main-slider {
  &__wrapper {
    display: inline-flex;
    height: 100vh;
  }

  &__logo {
    position: absolute;
    left: 70px;
    top: 178px;
    @media all and (max-width: 940px) {
      display: none;
    }
  }

  &__slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width: 940px) {
      flex-direction: column-reverse;
      position: relative;
    }

    .main-slide {
      &__title {
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 120.7%;
        color: #000000;
        @media all and (max-width: 940px) {
          font-size: 30px;
          color: #3A6919;
        }
        @media all and (max-width: 768px) {
          margin-bottom: 0;
        }
      }

      &__content {
        font-weight: 400;
        font-size: 3.4rem;
        line-height: 120.7%;
        color: #77391D;
        @media screen and (max-width: 1500px) {
          font-size: 2.4rem;
        }
        @media all and (max-width: 940px) {
          padding-top: 15px;
        }

        p {
          font-weight: 400;
          font-size: 3.4rem;
          line-height: 120.7%;
          color: #77391D;
          @media screen and (max-width: 1500px) {
            font-size: 2.4rem;
          }
          @media all and (max-width: 940px) {
            font-size: 30px;
            color: #77391D;
            font-weight: 400;
            margin-bottom: 0;
          }
          @media all and (max-width: 500px) {
            font-size: 24px;
          }
        }
      }

      &__lnk {
        position: absolute;
        bottom: 30px;
        right: 30px;
        display: flex;
        align-items: center;
        @media all and (max-width: 768px) {
          right: 20px;
          bottom: 20px;
        }

        span {
          font-size: 1.8rem;
          line-height: 1.7rem;
          color: #6C1A30;
          margin-right: 10px;
          transition: $color-transition;
          @media all and (max-width: 940px) {
            font-size: 2.4rem;
          }
          @media all and (max-width: 768px) {
            color: #3A6919;
          }
          @media all and (max-width: 400px) {
            font-size: 1.8rem;
          }
        }

        svg {
          @media all and (max-width: 940px) {
            width: 55px;
            height: 55px;
          }

          path {
            transition: $color-transition;
            @media all and (max-width: 768px) {
              fill: #3A6919;
            }
          }
        }

        &:hover {
          svg {
            path {
              fill: #3A6919;
            }
          }

          span {
            color: #3A6919;
          }
        }
      }
    }
  }

  &__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 120px 30px 170px 70px;
    background-color: #FBF8F5;
    @media screen and (max-width: 1500px) {
      padding: 120px 30px 120px 60px;
    }
    @media all and (max-width: 940px) {
      width: 100%;
      z-index: 1;
      position: relative;
      background-color: rgba(255, 255, 255, 0.75);
      padding: 120px 30px 170px 50px;
    }
    @media all and (max-width: 768px) {
      padding: 20px 20px 100px 20px;
    }

  }

  &__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    @media all and (max-width: 940px) {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__navigate {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 30px;
    left: 70px;
    z-index: 10;

    > div {
      margin-right: 10px;
      cursor: pointer;
    }

    @media all and (max-width: 768px) {
      left: 20px;
      bottom: 20px;
    }
  }
}

.main-about {
  display: block;
  background-color: #8FBF4F;
  @media all and (max-width: 768px) {
    padding-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 70px 30px 70px;
    @media all and (max-width: 1024px) {
      float: left;
      margin-bottom: 20px;
      padding: 50px 70px 30px 70px;
    }
    @media all and (max-width: 940px) {
      padding: 50px 50px 30px 50px;
    }
    @media all and (max-width: 768px) {
      padding: 20px 20px 20px 20px;
    }
  }

  &__content-img {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media all and (max-width: 1024px) {
      float: left;
      margin-bottom: 20px;
    }
    @media all and (max-width: 768px) {
      width: 100%;
    }

    picture {
      height: 100%;
      width: auto;
      display: block;
      max-height: 480px;
      overflow-y: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

  }

  &__content-desc {
    width: calc(50% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media all and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__content-title {
    font-size: 4.5rem;
    line-height: 4.3rem;
    font-weight: 700;
    margin: 30px 0;
    color: #FFFFFF;
  }

  &__content-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #FFFFFF;
    flex: 1;

    ul {
      list-style: disc;

      li {
        transform: translateX(1.2em);
      }
    }
  }

  &__content-lnk {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media all and (max-width: 768px) {
      svg {
        width: 55px;
        height: 55px;
      }
    }

    a {
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.7rem;
        color: #FFFFFF;
        @media all and (max-width: 768px) {
          font-size: 2.4rem;
        }
      }
    }
  }

  &__header {
    display: flex;
    flex-wrap: nowrap;
    @media all and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__slider {
    margin-left: 70px;
    padding-right: 20px;
    @media all and (max-width: 940px) {
      margin-left: 50px;
    }
    @media all and (max-width: 768px) {
      margin-left: 20px;
    }

    .about-slide {
      display: flex;
      flex-direction: column;

      &__icon {
        height: auto;
        width: auto;
        margin-right: 30px;
        max-width: 80px;
        @media all and (max-width: 500px) {
          margin-right: 0;
        }

        img {
          width: 80px;
          height: auto;
        }
      }

      &__title {
        font-size: 1.8rem;
        line-height: 130%;
        font-weight: 700;
        color: #000000;
        width: calc(100% - 110px);
        @media all and (max-width: 500px) {
          width: 100%;
          text-align: center;
          margin-top: 20px;
          font-size: 2.8rem;
        }
      }

      &__content {
        margin-top: 40px;

        p {
          font-size: 1.5rem;
          line-height: 150.5%;
          font-weight: 400;
          color: #000000;
          @media all and (max-width: 500px) {
            text-align: center;
            font-size: 2rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

  }

  &__slide {
    padding: 40px;
    background: #FFFFFF;
    width: calc(25% - 10px);
    height: auto;
    @media all and (max-width: 500px) {
      padding: 20px;
    }
  }

  &__navigate {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    @media all and (max-width: 768px) {
      display: none;
    }

    > div {
      margin-right: 10px;
    }
  }
}

.main-special {
  background-color: #FBF8F5;
  padding: 70px 0 70px 70px;
  @media all and (max-width: 1200px) {
    padding: 50px 0 20px 50px;
  }
  @media all and (max-width: 940px) {
    padding: 50px 0 20px 50px;
  }
  @media all and (max-width: 768px) {
    padding: 20px 0 20px 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @media all and (max-width: 768px) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    font-size: 4.5rem;
    line-height: 6.3rem;
    font-weight: 700;
    color: #000000;
    margin-right: 4rem;
    @media all and (max-width: 500px) {
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 4rem;
    }
  }

  &__navigate {
    display: flex;
    align-items: center;

    > div {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__slider {
    padding-right: 70px;
    @media all and (max-width: 768px) {
      padding-right: 20px;
    }
  }

  &__wrapper {
    align-items: stretch;
  }

  &__slide {
    display: flex;
    padding: 50px 0 50px 60px;
    background-color: #FFFFFF;
    justify-content: space-between;
    @media all and (max-width: 1024px) {
      padding: 50px 0 50px 50px;
    }
    @media all and (max-width: 768px) {
      padding: 20px;
      flex-direction: column-reverse;
      height: auto;
    }
  }

  .special-slide {
    &__content {
      width: calc(50% - 70px);
      display: flex;
      flex-direction: column;
      @media all and (max-width: 1024px) {
        width: calc(50% - 40px);
      }
      @media all and (max-width: 768px) {
        width: 100%;
        flex: 1;
        justify-content: flex-start;
      }
    }

    &__image {
      width: calc(50% + 70px);
      margin-right: -70px;
      position: relative;
      overflow: hidden;
      height: 343vw * $px;
      @media all and (max-width: 768px) {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        margin-right: 0;
      }

      img {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        width: 100%;
        max-width: 100%;
        @media all and (max-width: 768px) {
          position: static;
          top: 0;
          left: 0;
          transform: translate(0, 0);
        }
      }
    }

    &__title {
      font-size: 2.5rem;
      line-height: 130%;
      color: #000000;
      font-weight: 700;
      padding-right: 40%;
      @media all and (max-width: 768px) {
        padding-right: 0;
        margin-bottom: 20px;
      }
    }

    &__desc {
      font-size: 1.6rem;
      line-height: 150.69%;
      color: #000000;
      flex: 1;
      display: flex;
      align-items: flex-end;
      padding-right: 9%;
      @media all and (max-width: 768px) {
        padding-right: 0;
        flex: 1;
        align-items: flex-start;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__lnk {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 70px;
      background: #3A6919;
      border-radius: 100px;
      font-size: 1.6rem;
      line-height: 150.69%;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-top: 40px;
      @media all and (max-width: 768px) {
        width: 100%;
      }
      @media all and (max-width: 500px) {
        border-radius: 0;
        background-color: transparent;
        color: #3A6919;
        border: 1px solid #3A6919;
        height: 50px;
        font-size: 2.2rem;
      }
    }
  }
}

.main-video {
  padding: 70px;
  width: 100%;
  height: auto;
  margin: auto;

  &__title {
    font-size: 4.5rem;
    line-height: 6.3rem;
    color: #3A6919;
    text-align: center;
    font-weight: 700;
  }

  &__content {
    margin-top: 70px;
    position: relative;
    overflow: hidden;
    height: 630vw * $px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      img {
        transform: translate(-50%, -50%) scale(1.05);
      }

      svg {
        transform: scale(1.2);
      }
    }

    svg {
      z-index: 2;
      transition: 0.3s;
    }
  }

  &__cover {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    max-width: 100%;
    transition: 0.3s;
  }
}

.main-team {
  padding: 40px 70px 0 70px;
  position: relative;
  @media all and (max-width: 1024px) {
    padding: 40px 50px 0 50px;
  }
  @media all and (max-width: 768px) {
    padding: 20px;
  }

  &:before {
    position: absolute;
    content: "";
    background-color: #8FBF4F;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 197px);
    display: block;
    z-index: -1;
    @media all and (max-width: 900px) {
      height: calc(100% - 280px);
    }
  }

  &__title {
    font-size: 4.5rem;
    line-height: 6.3rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 40px;

  }

  &__content {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    display: flex;
    margin-bottom: 57px;
    flex-wrap: wrap;
    @media all and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__photo {
    position: relative;
    overflow: hidden;
    height: 534vw * $px;
    width: 43%;
    @media all and (max-width: 1400px) {
      width: 50%;
      height: auto;
    }
    @media all and (max-width: 900px) {
      width: 100%;
    }
  }

  &__img {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    max-width: 100%;
    transition: 0.3s;
    @media all and (max-width: 1400px) {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @media all and (max-width: 900px) {
      width: 100%;
      position: static;
      left: 0;
      top: 0;
      transform: translate(0, 0);
    }
  }

  &__desc {
    width: 57%;
    display: block;
    padding: 40px;
    @media all and (max-width: 1400px) {
      width: 50%;
    }
    @media all and (max-width: 900px) {
      width: 100%;
    }
    @media all and (max-width: 768px) {
      padding: 20px;
    }

    p, ul, li {
      font-size: 1.8rem;
      line-height: 3rem;

      strong, b {
        font-weight: bold;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
    @media all and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__lnk {
    width: 299px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150.69%;
    color: white;
    background: #71A24E;
    border-radius: 100px;
    text-transform: uppercase;
    @media all and (max-width: 500px) {
      height: 50px;
      border: 2px solid #71a24e;
      color: #71a24e;
      background-color: transparent;
      border-radius: 0;
      width: 100%;
      font-size: 2.2rem;
    }

    &:visited {
      color: #71a24e;
    }
  }
}

.main-form {
  display: flex;
  flex-wrap: wrap;

  &__image {
    width: 50%;
    position: relative;
    overflow: hidden;
    @media all and (max-width: 1024px) {
      width: 100%;
      height: 500px;
    }
    @media all and (max-width: 768px) {
      height: 300vw * $pxm;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: left center;
    }

    &-cont {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      padding: 15px 20px;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      background-color: white;
      @media all and (max-width: 1024px) {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
      }

      a {
        font-size: 1.4rem;
        line-height: 130%;
        color: #000000;
        @media all and (max-width: 768px) {
          font-size: 2.2rem;
        }
      }
    }
  }

  &__form {
    width: 50%;
    padding: 70px;
    background-color: #80C048;
    @media all and (max-width: 1024px) {
      width: 100%;
    }
    @media all and (max-width: 940px) {
      padding: 50px;
    }
    @media all and (max-width: 768px) {
      padding: 20px;
    }

    .wpcf7 {
      padding-top: 50px;
      @media all and (max-width: 768px) {
        padding-top: 0;
      }

      form {
        .ajax-loader {
          display: none;
        }

        p {
          margin-bottom: 0;
        }

        .form-submit {
          background-color: #FFFFFF;
          font-weight: 400;
          font-size: 16px;
          line-height: 150.69%;
          text-transform: uppercase;
          color: #7DC242;
          border-radius: 100px;
          height: 79px;
          justify-content: center;
          margin-top: 65px;
          margin-bottom: 0;
          @media all and (max-width: 768px) {
            margin-top: 20px;
            border-radius: 0;
            height: 50px;
            font-size: 2.2rem;
            text-transform: uppercase;
          }
        }

        label {
          width: 100%;
          font-size: 1.2rem;
          line-height: 1.1rem;
          color: #FFFFFF;
        }

        input {
          &::placeholder {
            font-size: 1.8rem;
            line-height: 1.7rem;
            color: #FFFFFF;
          }

          width: 100%;
          font-size: 1.8rem;
          line-height: 1.7rem;
          color: #FFFFFF;
          height: 55px;
          display: flex;
          justify-content: left;
          align-self: center;
          padding: 0 22px;
          margin-bottom: 15px;
          max-width: 391px;
          border: none;
          background-color: rgba(255, 255, 255, 0.15);
          @media all and (max-width: 1024px) {
            max-width: none;
          }
        }

        br {
          display: none;
        }
      }
    }
  }

  &__title {
    font-size: 4.5rem;
    line-height: 6.3rem;
    color: white;
    font-weight: 700;
  }

  &__sub-title {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FFFFFF;
    font-weight: 300;
    width: 56%;
    @media all and (max-width: 1024px) {
      width: 100%;
      margin: 20px 0;
    }
  }
}

.main-advantages {
  background-color: #FBF8F5;
  padding: 70px 0 70px 70px;
  @media all and (max-width: 1024px) {
    padding: 50px 0 50px 50px;
  }
  @media all and (max-width: 768px) {
    padding: 20px 0 20px 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @media all and (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    font-size: 4.5rem;
    line-height: 6.3rem;
    font-weight: 700;
    color: #000;
    margin-right: 4rem;
    @media all and (max-width: 940px) {
      margin-right: 0;
      font-size: 4rem;
    }
  }

  &__navigate {
    display: flex;
    align-items: center;

    > div {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__slider {
    padding-right: 20px;
  }

  &__slide {
    background-color: #F0D740;
    padding: 87px 78px 60px 38px;
    height: auto;
    min-height: 396px;
    @media all and (max-width: 1024px) {
      padding: 50px 50px 90px 50px;
    }
    @media all and (max-width: 940px) {
      padding: 30px 30px 70px 30px;
      min-height: auto;
    }
    @media all and (max-width: 768px) {
      padding: 20px 20px 60px 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;

    &-title {
      font-size: 2.5rem;
      line-height: 3.3rem;
      min-height: 80px;
      color: #000000;
      font-weight: 400;
      margin-bottom: 1.5rem;
      @media all and (max-width: 940px) {
        min-height: 60px;
        font-size: 3.2rem;
      }
    }

    &-desc {
      p, ul, li {
        font-size: 1.8rem;
        line-height: 122%;
        color: #000000;
        @media all and (max-width: 940px) {
          font-size: 2.2rem;
        }
        @media all and (max-width: 500px) {
          font-size: 1.8rem;
        }
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }

      font-size: 1.8rem;
      line-height: 2.4rem;
      color: #000000;
    }

    &-lnk {
      position: absolute;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      bottom: 23px;
      right: 10px;

      span {
        margin-right: 10px;
        color: #000000;
        font-weight: 500;
      }
    }
  }
}

.main-reviewes {
  background-color: #B1CD4E;
  padding: 70px 70px 50px 70px;
  @media all and (max-width: 1024px) {
    padding: 50px 50px 30px 50px;
  }
  @media all and (max-width: 768px) {
    padding: 20px;
  }

  &__title {
    font-size: 4.5rem;
    line-height: 130%;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 7rem;
    @media all and (max-width: 940px) {
      margin-bottom: 4rem;
      font-size: 4rem;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(25% - 20px);
    height: auto;
    background-color: #FFFFFF;
    padding: 40px 25px 35px 25px;
    margin: 0 10px 20px 10px;
    @media all and (max-width: 940px) {
      height: auto;
      width: calc(33.3333% - 20px);
      &:last-child {
        width: calc(66.66666% - 20px);
      }
    }
    @media all and (max-width: 768px) {
      padding: 20px;
    }
    @media all and (max-width: 600px) {
      height: auto;
      width: calc(50% - 20px);
      &:last-child {
        width: calc(50% - 20px);
      }
    }
    @media all and (max-width: 450px) {
      height: auto;
      width: 100%;
      &:last-child {
        width: 100%;
      }
    }

    &-video {
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      display: flex;
      padding: 0;

      &:hover {
        svg {
          transform: scale(1.2);
        }

        img {
          transform: scale(1.2);
        }
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: 0.3s;
      }

      svg {
        transition: 0.3s;
        width: 78vw * $px;
        height: 78vw * $px;
        z-index: 2;
        position: absolute;
        top: calc(50% - (39vw * $px));
        left: calc(50% - (39vw * $px));
        @media all and (max-width: 768px) {
          width: 78px;
          height: 78px;
        }
      }
    }

    .name {
      font-size: 25vw * $px;
      line-height: 24vw * $px;
      color: #000000;
      margin-bottom: 30px;
      @media all and (max-width: 940px) {
        font-size: 2.5rem;
        line-height: 122%;
        margin-bottom: 2rem;
      }
    }

    .description {
      p, li, span {
        font-size: 16vw * $px;
        line-height: 18vw * $px;
        color: #000000;
        @media all and (max-width: 940px) {
          font-size: 1.6rem;
          line-height: 122%;
          color: #000000;
        }
      }

      font-size: 16vw * $px;
      line-height: 18vw * $px;
      color: #000000;
      @media all and (max-width: 940px) {
        font-size: 1.6rem;
        line-height: 122%;
        color: #000000;
      }
    }
  }

  &__lnk {
    a {
      width: 300px;
      height: 70px;
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150.69%;
      text-align: center;
      text-transform: uppercase;
      color: #3A6919;
      margin: 30px auto 0 auto;

    }
  }
}

.main-map {
  padding: 70px;
  @media all and (max-width: 1024px) {
    padding: 50px;
  }
  @media all and (max-width: 768px) {
    padding: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(33.3% - 10px);
    @media all and (max-width: 900px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__map {
    height: 324px;
    width: 100%;
    margin-top: 2rem;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));

    .leaflet-bottom {
      display: none;
    }

    .leaflet-marker-icon {
      width: 35px !important;
    }

    .leaflet-marker-shadow {
      width: 52px !important;
    }
  }

  &__loc {
    font-size: 2.5rem;
    line-height: 130%;
    color: #000000;
    font-weight: 500;
    @media all and (max-width: 900px) {
      font-size: 3.5rem;
    }
  }

  &__adress {
    margin-top: 2rem;
    font-size: 1.7rem;
    line-height: 130%;
    color: #000000;
    @media all and (max-width: 900px) {
      margin-top: 10px;
    }

    p {
      margin-bottom: 0;
      font-size: 1.7rem;
      line-height: 130%;
      color: #000000;
      @media all and (max-width: 900px) {
        font-size: 2.2rem;
      }
    }
  }
}

.footer {
  background-color: #7DC242;
  padding: 70px 70px 30px 70px;
  @media all and (max-width: 1024px) {
    padding: 50px 50px 30px 50px;
  }
  @media all and (max-width: 768px) {
    padding: 20px 20px 20px 20px;
  }

  &.home {
    margin-top: -280px;
    padding: 310px 70px 30px 70px;
    @media all and (max-width: 1024px) {
      padding: 310px 50px 30px 50px;
    }
    @media all and (max-width: 768px) {
      padding: 270px 20px 20px 20px;
    }
  }

  &__menu {
    .menu {
      display: flex;
      justify-content: space-between;
      @media all and (max-width: 500px) {
        flex-direction: column;
        justify-content: flex-start;
      }

      li {
        display: flex;
        flex-direction: column;

        a {
          font-size: 1.8rem;
          line-height: 3.5rem;
          color: #FFFFFF;
          font-weight: 400;
          @media all and (max-width: 500px) {
            text-align: center;
          }
        }

        > a {
          font-size: 2.5rem;
          line-height: 2.4rem;
          color: #FFFFFF;
          font-weight: 500;
        }
      }
    }
  }

  &__contacts {
    margin-top: 80px;
    display: inline-block;
    @media all and (max-width: 500px) {
      margin-top: 60px;
      width: 100%;
      text-align: center;
    }

    a {
      font-size: 2.2rem;
      line-height: 130%;
      color: #FFFFFF;
      font-weight: 400;
      display: block;
    }
  }

  &__socials {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media all and (max-width: 500px) {
      justify-content: center;
    }

    a {
      margin-right: 30px;
      @media all and (max-width: 500px) {
        margin: 15px;
      }
    }
  }
}

.popup {
  transition: 1s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &__content {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    top: 0;
    left: 0;

    &:after {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600vw * $px;
    height: auto;
    background-color: white;
    z-index: 2;
    padding: 70px;
    position: relative;
    border-radius: 30px;
    border: 3px solid #7DC242;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));

    .popup-title {
      font-size: 2.2rem;
      line-height: 130%;
    }

    .textwidget {

    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
.simple-page {
  padding-bottom: 70px;
  @media all and (max-width: 768px) {
    padding-bottom: 0;
  }

  article {
    width: 100%;
    height: auto;
  }
  &__title{
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }

  &__wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding-top: 30px;
    width: calc(100% - 120px);
    @media all and (max-width: 1024px) {
      width: 100%;
    }
    @media all and (max-width: 768px) {
      padding-top: 0;
    }
  }

  .post-thumbnail {
    margin-bottom: -300px;
    @media all and (max-width: 1400px) {
      margin-bottom: -177px;
    }
    @media all and (max-width: 1024px) {
      margin-bottom: 0;
    }
  }

  .current-thumbnail {
    width: 100%;
    height: auto;
  }

  &__title {
    margin: 4rem 0;
    text-align: center;

    &:first-child {
      margin: 4rem 0;
    }
  }

  &__content {
    p, li, a, em {
      font-size: 2rem;
      color: rgb(98, 104, 118);
    }

    a {
      color: #8FBF4F;
    }

    strong {
      font-weight: bolder;
    }

    em {
      font-style: italic;
    }

    ul {
      list-style: circle;
      max-width: 80%;
      @media all and (max-width: 768px) {
        max-width: none;
      }

      li {
        margin-bottom: 1rem;
        @media all and (max-width: 768px) {
          transform: translateX(1.5em);
        }
      }
    }
  }
}
.slide-page, .default-page {
  padding-top: 130px;
  @media all and (max-width: 768px) {
    padding-top: 85px;
  }

  .post-thumbnail {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__content {
    ul, ol {
      list-style: disc;

      li {
        margin-bottom: 1em;
      }
    }
  }
}
.default-page{
  @media all and (max-width: 768px) {
    padding-top: 85px;
  }
}
.directions-header {
  padding-top: 80px;
  margin-bottom: 80px;
  @media all and (max-width: 920px) {
    padding-top: 40px;
  }
  @media all and (max-width: 768px) {
    padding-top: 20px;
  }
  @media all and (max-width: 500px) {
    margin-bottom: 0;
  }
  &__title{
    @media all and (max-width: 920px) {
      margin-bottom: 0;
    }
  }

  &:first-child {
    padding-top: 171px;
  }

  ul {
    list-style: disc !important;
    @media all and (max-width: 768px) {
      padding-right: 20px;
    }


    li {
      margin-bottom: 10px;
      @media all and (max-width: 768px) {
        transform: translateX(1.5em);
      }
    }
  }

  h2 {
    margin-top: 40px;
  }
}

.directions {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__title{
    @media all and (max-width: 1024px) {
      font-size: 2.5rem;
    }
    @media all and (max-width: 768px) {
      font-size: 3rem;
    }
  }
  &-page {
    &__image {
      height: 500px;
      overflow: hidden;
      @media all and (max-width: 768px) {
        height: 320px;
      }
      @media all and (max-width: 600px) {
        height: 200px;
      }
      @media all and (max-width: 600px) {
        height: 160px;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__item {
    width: 33.333333%;
    padding: 30px 70px;
    height: 250px;
    position: relative;
    overflow: hidden;
    @media all and (max-width: 1360px) {
      width: 50%;
    }
    @media all and (max-width: 1024px) {
      padding: 20px 40px;
      height: 220px;
    }
    @media all and (max-width: 940px) {
      margin-bottom: 0;
    }
    @media all and (max-width: 600px) {
      width: 100%;
      padding: 20px;
    }

    &:hover {
      .directions__lnk {
        opacity: 1;
        transform: translateX(0);
        color: white;
        text-decoration: underline;
      }
    }
  }

  &__lnk {
    position: absolute;
    right: 40px;
    bottom: 30px;
    transform: translateX(150px);
    opacity: 0;
    transition: 0.3s ease-out;
    color: #404040 !important;
    font-size: 18px;
    text-decoration: none;
    @media all and (max-width: 1024px) {
      opacity: 1;
      transform: translateX(0);
      color: white;
      text-decoration: underline;
    }

    &:visited {
      color: #404040;
    }
  }
}

.contacts {
  padding-top: 140px;
  @media all and (max-width: 920px) {
    padding-top: 100px;
  }
  @media all and (max-width: 768px) {
    padding-top: 42px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    margin-right: -20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(33.33333% - 20px);
    margin-right: 20px;
    background-color: #B1CD4E;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    @media all and (max-width: 1300px) {
      padding: 20px;
    }
    @media all and (max-width: 1100px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__content, &__main-content {
    flex: 1;

    ul {
      list-style: disc;
      padding-left: 20px;

      li {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }

  &__price {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  &__btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150.69%;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid white;
    margin-top: 24px;
    align-items: center;
    height: 81px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: white;
      color: #b1cd4e;
    }
  }
}